.home-banner {
  min-height: 400px;
  height: 450px;
  position: relative;
  background-color: #3d3c3c;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  .title {
    font-size: 50px;
    text-shadow: 2px 0px 5px #0000003d;
    color: #fff;
    font-weight: 900 !important;
    letter-spacing: 1px;
  }
  .desc {
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    text-shadow: 2px 0px 5px #0000003f;
  }
  .user-avator {
    img {
      border-radius: 50px;
      border: 2px solid white;
      margin-right: -15px;
      object-fit: cover;
    }
  }
  .subcription {
    &__form_wrapper {
      width: 348px;
      background-color: rgba(255, 255, 255, 0.747);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 5px 10px #00000021;
      z-index: 9;
      img {
        border-radius: 10px;
      }
      form {
        width: 100%;
        text-align: center;
      }
      input {
        border: 1px solid #3d3c3c6c;
        width: 100%;
        border-radius: 10px;
        height: 40px;
        padding-left: 15px;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .wave {
    position: absolute;
    bottom: -10px;
    left: -10px;
    z-index: 1;
    width: 105vw;
    // fill: #fbfaf8;
  }
}
@media (min-width: 1700px) {
  .home-banner {
    min-height: 50vh;
  }
}
@media (min-width: 1920px) {
  .home-banner {
    min-height: 60vh;
  }
}

@media (max-width: 786px) {
  .home-banner {
    padding-top: 60px;
    height: auto;
    background-position: top center;
    .title {
      font-size: 25px;
      text-align: center;
    }
    .desc {
      font-size: 20px;
      text-align: center;
    }
  }
  .user-avator {
    text-align: center;
    img {
      margin: 20px 0;
    }
  }
  .subcription {
    &__form_wrapper {
      padding: 10px 20px !important;
      width: 95% !important;
    }
  }
}
