.header {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.menu-items {
  h5 {
    font-size: 14px;
  }
  &:hover {
    color: red;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
  }
}
